.features {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 30px;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }

  @include desktop {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  &__item {
    display: flex;
    flex-direction: column;

    @include tablet {
      max-width: 354px;
    }
  }

  &__box {
    background: $backgroundColorLight;
    border-radius: $borderRadiusFrame;
    margin-bottom: 30px;
  }

  &__icon {
    display: flex;
    justify-content: center;
    padding: 25px 0;

    @include tablet {
      padding: 25px 0;
    }

    @include desktop {
      padding: 25px 0;
    }
  }

  &__header {
    font-weight: $fontL;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    text-align: center;

    @include tablet {
      text-align: unset;
    }
  }

  &__description {
    font-weight: $fontS;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $textGreyColor;
  }
}
