$backgroundPageColor: #ffffff;
$backgroundColorDark: #2f303a;
$backgroundColorLight: #f5f4fa;
$backgroundColorBlue: #2196f3;
$texPrimaryColor: #212121;
$textBlueColor: #2094f3;
$textGreyColor: #757575;
$textWhiteColor: #ffffff;
$headerBorderColor: #ececec;
$iconColor: #afb1b8;

$borderRadiusFrame: 4px;
$fontPrimary: Roboto;
$fontLogo: Raleway;

$fontXL: 900;
$fontL: 700;
$fontM: 500;
$fontS: 400;
